.case {
    fill: rgb(255, 255, 255);
}

.case:hover {
    fill: rgba(140, 140, 140, 0.593);
}

.bordure {
    fill: rgb(137, 137, 137);
}

.bordure:hover {
    fill: rgba(0, 0, 0, 0.833);
}

.intersection {
    fill: rgb(137, 137, 137);
}

.batonnet {
    fill: rgb(0, 0, 0)
}

.joueur1 {
    fill: blue;
}

.joueur2 {
    fill: red;
}