.case { fill: #ffffff; }

.case:hover { fill: #8c8c8c97; }

.bordure { fill: #898989 }

.bordure:hover { fill: #000000d4; }

.verticale:hover { height: 110px; }

.horizontale:hover { width: 110px; }

.intersection { fill: #898989 }

.batonnet { fill: #000000 }

.joueur1 { fill: #0000ff; }

.joueur2 { fill: #ff0000; }

.fond-stockage { fill: #777777 }

.fond-stockage-batonnet { fill: #c8c8c8 }

.teeest { fill: #950000 }

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110fr 530px 110fr;
    gap: 20px 0px;
    grid-template-areas:
      "."
      "."
      ".";
}